.rectangleParent {
  width: 307px;
  height: 78px;
  position: relative;
  text-align: left;
  font-size: 15px;
  color: #62748e;
  font-family: Poppins;
}

.groupChild {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 10px;
  background-color: #f1f5f9;
  border: 1px solid #939393;
  box-sizing: border-box;
  width: 307px;
  height: 78px;
}

.tabButton {
  position: absolute;
  top: 8px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 140px;
  height: 63px;
  border: 1px solid transparent;
  background: transparent;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
}

.activeButton {
  left: 9px;
}

.pastButton {
  left: 158px;
}

.isActive {
  background-color: #fff;
  border: 1px solid #939393;
  color: #1e293b;
}

.tabButton:not(.isActive) {
  color: #62748e;
}

.groupItem {
  position: absolute;
  top: 8px;
  left: 9px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #939393;
  box-sizing: border-box;
  width: 235px;
  height: 63px;
}
